@mixin centered-card {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: 80dvh;
  }

  .card {
    margin: 0 30px;
    width: 100%;
    max-width: 475px;
    max-height: 425px;
    min-height: 375px;
    display: flex;
    flex-direction: column;
    background-color: $bg-secondary;
    border: 2px solid $colour-border;
    border-radius: 15px;
    color: $text-primary;
    box-shadow: 10px 20px 20px hsl(0deg 0% 0% / 0.2);

    a {
      color: $text-primary;
      text-decoration: none;
    }

    &-header {
      i {
        color: $text-primary;
        font-size: 20px;
      }
      
      padding: 15px 30px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid $colour-border;

      &-title {
        padding-left: 10px;
        font-size: 24px;
        font-weight: $font-medium;
      }

      &-right {
        margin-left: auto;
        display: flex;
        align-items: center;
        cursor: pointer;

        &-icon {
          padding-right: 10px;
          font-size: 18px;
        }
      }
    }

    &-content {
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1;
      overflow-y: auto;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      border-bottom: 2px solid $colour-border;

      &-title {
        color: $text-muted;
      }

      input {
        background: none;
        border: none;
        outline: none;
        text-align: right;
        color: $text-primary;
        font-size: 20px;
      }
    }

    &-status {
      padding: 20px 0;
      text-align: center;
    }
  }

  // Tablet
  @media (max-width: $bp-tablet) {
    .main {
      align-items: flex-start;
    }
  }

  // Mobile
  @media (max-width: $bp-mobile) {
    .card {
      margin: 0 12px;
      min-height: 325px;
      max-height: 375px;
      font-size: 16px;

      &-header {
        padding: 10px 14px;

        &-title {
          font-size: 18px;
        }
      }

      &-content {
        padding: 0 14px;
      }

      &-item {
        input {
          font-size: 16px;
        }
      }
    }
  }
}