@import '../base/variables';
@import '../components/mixins';

.login {
  @include centered-card;

  .main {
    min-height: 100dvh;
  }

  .card {
    min-height: 300px;
  }

  .card-content .card-item {
    justify-content: left;

    input {
      padding-left: 10px;
      text-align: left;
    }
  }
}