@import '../base/variables';
@import '../components/mixins';

.show-profile {
  @include centered-card;

  // Add page-specific overrides
  .card {
    // max-height: 520px;   // override if needed
  }
}

.edit-profile {
  @include centered-card;
}

.edit-lang {
  @include centered-card;

  .card-content {
    text-align: center;
    // flex: 1;  
  }

  #select-lang {
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}