@import '../base/variables';
@import '../components/mixins';

.daily-text {
  .text-main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    margin: 0 30px;
    padding: 10px 25px;
    color: $text-primary;

    i {
      padding: 0 5px;
      cursor: pointer;
      font-size: 28px;

      &:hover {
        color: $text-muted;
      }
    }
  }

  .text {
    max-width: 800px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    padding: 20px 25px;
    overflow-y: auto;
    background-color: $bg-secondary;
    border: 2px solid $colour-border;
    border-radius: 15px;
    color: $text-primary;
    font-size: 20px;
    box-shadow: 10.0px 20.0px 20.0px hsl(0deg 0% 0% / 0.20);
  }

  .alignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding-bottom: 8px;
    cursor: pointer;
    transition: 0.2s;

    .eng {
      color: $orange;
      font-size: 16px;
      font-style: italic;
    }
    .target {
      font-size: 22px;
    }
  }

  // Tablet
  @media (max-width: $bp-tablet) {
    .text-main {
      margin-top: 30px;
    }

    .header {
      justify-content: center;
      margin: 0 0 8px;
      padding: 8px 12px;

      h2 {
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      i {
        font-size: 22px;
      }
    }

    .text {
      font-size: 18px;
    }

    .alignment {
      padding-bottom: 8px;
      .eng {
        font-size: 14px;
      }
      .target {
        font-size: 20px;
      }
    }
  }

  // Mobile
  @media (max-width: $bp-mobile) {
    .text-main {
      margin-top: 15px;
    }

    .content {
      align-items: center;
    }

    .text {
      font-size: 16px;
    }

    .alignment {
      padding-bottom: 6px;

      .eng {
        font-size: 12px;
      }
      .target {
        font-size: 16px;
      }
    }
  }
}